<h2>Sign in</h2>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div class="login_field clear">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="login_field clear">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <%= f.submit "Sign in", :class => "btn" %>
<% end %>

<%= render :partial => "devise/shared/links" %>
<div class="clear"></div>