<div id="draft_page_container">
    <div class="left_container">
      <div id="draft_status_container">
        <%= render "draft_status" %>
      </div>
        <div id="mm_team_draft_picks">
          <div class="label">My Draft Picks:</div>
          <ul>
            <% @my_draft_picks.each do |dp| %>
                <li>
                  <div class="label">Rd <%= dp.round %>:</div><div>Pick <%= @draft.total_teams - ((@draft.total_teams * dp.round) - dp.overall_pick) %></div>
                </li>
            <% end %>
          </ul>
        </div>
      <div class="clear"></div>

      <div id="draft_board_container">
        <%= render "draft_picks" %>
      </div>

      <div id="mm_team_roster_container">
      </div>

    </div>

    <div class="right_container">
      <div id="draft_players_container">
        <%= render "shared/draft_player_list" %>
      </div>

      <div id="preferred_players_container" style="display: none;">
        <%= render "shared/preferred_player_list" %>
    </div>

    </div>

    <div class="clear"></div>
</div>