<div id="draft_results_container">
    <div class="module">
      <div class="module_header">Draft Results</div>
      <div class="module_container">
        <table class="draft_results_table_headers">
          <tr>
            <th class="pick">Pick</th>
            <th class="mm_team">MM Team</th>
            <th class="player">Player</th>
            <th class="position">Position</th>
            <th class="ppg">PPG.</th>
            <th class="school">School</th>
            <th class="seed">Seed</th>
            <th class="region">Region</th>
          </tr>
        </table>
        <table class="draft_results_table">
          <tbody>
          <% previous_pick_round = 0 %>
          <% @draft_picks.each_with_index do |pick, index| %>
            <% if pick.round != previous_pick_round %>
              <tr class="draft_result_round_header">
                <td>Round <%= pick.round %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            <% end %>
            <tr class="<%= index %2 == 0 ? 'even' : 'odd' %>">
              <td class="pick"><%= pick.overall_pick %></td>
              <td class="mm_team">
                <%= pick.mm_team.name %>
              </td>
              <td class="player">
                <%= pick.ncaa_player.full_name %>
              </td>
              <td class="position <%=get_position_css_class pick.ncaa_player.position %>">
                <%= pick.ncaa_player.position %>
              </td>
              <td class="ppg">
                <%= pick.ncaa_player.ppg_avg %>
              </td>
              <td class="school">
                <%= pick.ncaa_player.ncaa_team.school %>
              </td>
              <td class="seed">
                <%= pick.ncaa_player.ncaa_team.bracket_entry.seed %>
              </td>
              <td class="region <%= get_region_css_class pick.ncaa_player.ncaa_team.bracket_entry.region.id %>">
                <%= pick.ncaa_player.ncaa_team.bracket_entry.region.location %>
              </td>
            </tr>
            <% previous_pick_round = pick.round %>
          <% end %>
          </tbody>
        </table>
    </div>
  </div>
  <div class="clear"></div>
</div>