<%= form_for([:admin, @ncaa_team]) do |f| %>
  	<% if @ncaa_team.errors.any? %>
	    <div id="error_explanation">
	      	<h2><%= pluralize(@ncaa_team.errors.count, "error") %> prohibited this ncaa_team from being saved:</h2>
	    </div>
	  <% end %>
	
	<div class="form-group">
	    School<br />
	    <%= f.text_field :school, class: 'form-control' %>
	</div>
	<div class="form-group">
	    Nickname<br />
	    <%= f.text_field :nickname, class: 'form-control' %>
	</div><div class="form-group">
	    Web Id<br />
	    <%= f.text_field :web_id, class: 'form-control' %>
	</div>
  	<div class="actions padding-md text-center">
    	<%= f.submit "Submit", class: 'btn btn-success' %>
  	</div>
<% end %>
