<div class="left_container">
  <h1 class="standings_container_header">March Madness Teams</h1>
  <div class="pull-right padding-sm">
    <%= link_to 'New Team', new_mm_team_path %>
  </div>
  <div class="clear"></div>
  <table class="teams_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @mm_teams.each_with_index do |mm_team, index| %>
        <tr class="<%= index.odd? ? 'odd' : 'even' %>">
          <td><%= mm_team.name %></td>
          <td>
            <%= link_to 'Edit', edit_mm_team_path(mm_team) %>
            <%= link_to 'Destroy', mm_team, :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="clear"></div>
