
<div id="admin_container">
  <div id="admin_nav" class="col-md-12">
    <%= link_to 'MM Teams', mm_teams_path %>
    <%= link_to 'NCAA Teams', ncaa_teams_path %>
    <%= link_to 'NCAA Players', ncaa_players_path %>
    <%= link_to 'Bracket', admin_bracket_path %>
  </div>
  <div class="clear"></div>
  <div class="left_container col-md-6">
    <div id="draft_order" class="col-md-12">
    <%= render "draft_order" %>
  </div>
  </div>
  <div class="right_container col-md-6">

  </div>
  <div class="clear"></div>
</div>
