<div class="user_profile_container">
  <div style="width: 40%;">
  <h1>Change Password</h1>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <p class="form-group">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
    </p>

    <p class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
    </p>

    <p class="form-group">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, class: 'form-control', placeholder: 'Current Password' %>
    </p>

    <p class="actions">
      <%= f.submit "Update", class: 'btn btn-success' %>
      <%= link_to "Back", :back, class: 'btn btn-danger' %>
    </p>
  <% end %>
</div>
</div>
