<div id="draft_players_container_header">NCAA Players</div>
<div style="margin: 5px;">
  <div style="float: left; padding-bottom: 5px;">
    Filter players by:
    <%= collection_select(:ncaa_player, :ncaa_team_id, NcaaTeam.all.order(:school), :id, :school, {:include_blank => 'All Teams', :selected => @selected_team_id}, html_options = {:onchange => "getNcaaPlayersByTeam()"})  %>
  </div>
  <div class="float-right">
    <% if current_user.is_admin? %>
      <%= link_to 'New Player', new_admin_ncaa_player_path %>
    <% end %>
  </div>
  <div class="clear"></div>

  <table class="players_table_headers">
  </table>

  <table class="players_table">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="position">Position</th>
        <th class="ppg">PPG.</th>
        <th class="school">School</th>
        <th class="jersey">Jersey #</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @ncaa_players.each_with_index do |ncaa_player, index| %>
        <tr class="<%= index.odd? ? 'odd' : 'even' %>">
          <td class="name"><%= ncaa_player.first_name + " " + ncaa_player.last_name%></td>
          <td class="position"><%= ncaa_player.position %></td>
          <td class="ppg"><%= ncaa_player.ppg_avg %></td>
          <td class="school"><%= ncaa_player.ncaa_team.school %></td>
          <td class="jersey_number"><%= ncaa_player.jersey_number %></td>
          <td>
            <% if current_user.is_admin? %>
              <%= link_to 'Edit', edit_admin_ncaa_player_path(ncaa_player) %> |
              <% if controller_path.split('/').first != 'admin' %>
                <%= link_to 'Draft', ncaa_player, :method => :draft_player %> |
              <% end %>
              <%= link_to 'Remove', [:admin, ncaa_player], :method => :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <%= link_to 'Draft', draft_draft_player_path(ncaa_player) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
