<div id="standings_container_header">NCAA Teams</div>
<div style="float: right; padding-bottom: 5px;">
  <%= link_to 'New Team', new_ncaa_team_path %>
</div>
<div class="clear"></div>

<table class="teams_table">
  <thead>
    <tr>
      <th>School</th>
      <th>Nickname</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @ncaa_teams.each_with_index do |ncaa_team, index| %>
      <tr class="<%= index.odd? ? 'odd' : 'even' %>">
        <td><%= ncaa_team.school %></td>
        <td><%= ncaa_team.nickname %></td>
        <td>
          <%= link_to 'Edit', edit_ncaa_team_path(ncaa_team) %>
          <%= link_to 'Remove', ncaa_team, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>