<table class="top_perf_table_headers">
  <tr>
    <th class="rank">Rank</th>
    <th class="player">Player</th>
    <th class="position">Position</th>
    <th class="school">School</th>
    <th class="team_name">MM Team</th>
    <th class="points">Points</th>
    <th class="games">Games</th>
  </tr>
</table>

<table class="top_perf_table">
  <tbody>
    <% top_scorers.each_with_index do |player, index| %>
      <tr class="<%= (index + 1) %2 == 0 ? 'even' : 'odd' %>">
        <td class="rank"><%= index += 1 %></td>
        <td class="player"><%= link_to player.first_name + ' ' + player.last_name, "#", :onclick => "getScoringDetails('#{player.id}');" %></td>
        <td class="position"><%= player.position %></td>
        <td class="school"><%= player.school %></td>
        <td class="team_name"><%= player.team_name %></td>
        <td class="points"><%= player.total_points.nil? ? '0' : sprintf("%.0f", player.total_points) %></td>
        <td class="games"><%= player.total_games.nil? ? '0' : sprintf("%.0f", player.total_games) %></td>
      </tr>
    <% end %>
  </tbody>
</table>