<div class="left_container">
  <h1 class="standings_container_header">March Madness Teams</h1>
  <div class="pull-right padding-sm">
    <%= link_to 'New Team', new_admin_mm_team_path %>
  </div>
  <div class="clear"></div>
  <table class="mm_teams_table">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="user">User</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @mm_teams.each_with_index do |mm_team, index| %>
        <tr class="<%= index.odd? ? 'odd' : 'even' %>">
          <td class="name"><%= mm_team.name %></td>
          <td class="user"><%= !mm_team.user.nil? ? mm_team.user.email : 'TBD' %></td>
          <td class="action">
            <%= link_to 'Edit', edit_admin_mm_team_path(mm_team) %> |
            <%= link_to 'Remove', [:admin, mm_team], :method => :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="clear"></div>
