<div id="nav_wrapper">
  <% if user_signed_in?  %>
    <div id="logo"></div>
    <ul id="main_nav" class="clear">
      <li>
        <%= link_to_unless_current('Home', root_path) do |link| %>
          <span class="current_main_nav"><%= link %></span>
          <span class="current_main_nav_tip"></span>
        <% end %>
      </li>
      <li>
        <%= link_to_unless_current('Draft', draft_results_path) do |link| %>
          <span class="current_main_nav"><%= link %></span>
          <span class="current_main_nav_tip"></span>
        <% end %>
      </li>
      <li>
        <%= link_to_unless_current('MM Rosters', mm_teams_rosters_path) do |link| %>
            <span class="current_main_nav"><%= link %></span>
            <span class="current_main_nav_tip"></span>
        <% end %>
      </li>
      <li>
        <%= link_to_unless_current('Bracket', bracket_index_path) do |link| %>
          <span class="current_main_nav"><%= link %></span>
          <span class="current_main_nav_tip"></span>
        <% end %>
      </li>
      <li>
        <%= link_to_unless_current('My Profile', edit_user_registration_path) do |link| %>
            <span class="current_main_nav"><%= link %></span>
            <span class="current_main_nav_tip"></span>
        <% end %>
      </li>
      <% if current_user.is_admin? %>
        <li>
          <%= link_to_unless_current('Admin', admin_index_path) do |link| %>
            <span class="current_main_nav"><%= link %></span>
            <span class="current_main_nav_tip"></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <div class="clear"></div>
</div>