<!DOCTYPE html>
<html>
  <head>
    <title>March Madness Player Challenge</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="messages">
      <% if notice %>
        <div id="notice"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div id="alert"><%= alert %></div>
      <% end %>
    </div>

    <div id="wrapper">
      <div id="nav_container">
        <div id="nav_wrapper">
          <% if user_signed_in?  %>
            <div id="avatar">
              <%= image_tag avatar_url(current_user) %>
            </div>
            <ul id="main_nav">
              <li>
                <%= link_to_unless_current('Home', home_index_path) do |link| %>
                  <span class="current_main_nav"><%= link %></span>
                  <span class="current_main_nav_tip"></span>
                <% end %>
              </li>
              <li>
                <%= link_to_unless_current('Bracket', bracket_index_path) do |link| %>
                  <span class="current_main_nav"><%= link %></span>
                  <span class="current_main_nav_tip"></span>
                <% end %>
              </li>
              <li>
                <%= link_to_unless_current('Draft', draft_index_path) do |link| %>
                  <span class="current_main_nav"><%= link %></span>
                  <span class="current_main_nav_tip"></span>
                <% end %>
              </li>
              <% if current_user.is_admin? %>
                <li>
                  <%= link_to_unless_current('Admin', admin_index_path) do |link| %>
                    <span class="current_main_nav"><%= link %></span>
                    <span class="current_main_nav_tip"></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <div class="current_user">Current User: <%= link_to current_user.full_name, edit_user_registration_path %>
              | <%= link_to 'Logout', destroy_user_session_path  %></div>
          <% end %>
          <div class="clear"></div>
        </div>
      </div>
      <div id="main_container">
        <%= yield %>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
