<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>March Madness Player Challenge</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render 'layouts/notifications' %>

    <div id="wrapper" class="row">
      <div id="nav_container" class="col-md-2">
        <%= render 'layouts/sidebar' %>
      </div>
      <div id="main_container" class="col-md-10">
        <% if controller.controller_name == 'admin' || controller.controller_name == 'ncaa_players'  || controller.controller_name == 'ncaa_teams' || controller.controller_name == 'mm_teams' %>
          <div id="admin_nav">
            <%= link_to_unless_current 'Admin Home', admin_index_path %>
            <%= link_to_unless_current 'MM Teams', admin_mm_teams_path %>
            <%= link_to_unless_current 'NCAA Teams', admin_ncaa_teams_path %>
            <%= link_to_unless_current 'NCAA Players', admin_ncaa_players_path %>
            <%= link_to_unless_current 'Bracket', admin_bracket_path %>
          </div>
        <% end %>
        <% if user_signed_in?  %>
          <div class="current_user">
            <p>
              <%= current_user.email %>
              <%= link_to 'Logout', destroy_user_session_path %>
            </p>
          </div>
          <div class="clear"></div>
        <% end %>
        <div id="top_nav" class="row">
          <div id="logo" class="pull-left"></div>

          <button type="button" class="navbar-toggle pull-right" id="sidebar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <%= yield %>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
