<!DOCTYPE html>
<html>
  <head>
    <title>March Madness Player Challenge</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="flash">
      <% [:notice, :warning, :error, :alert].each do |type| %>
        <% if flash[type] %>
          <div class="flash_<%= type %> message">
            <%= link_to "Close", "javascript:void(0);", :class => "hideText icon_close" %>
            <span><%= flash[type] %></span>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="login_wrapper" class="col-md-4 col-md-offset-4">
      <div id="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
